<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/bs/bootstrap/css/bootstrap.min.css">
    <title> Login site </title>
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-primary"> 구글 계정으로 로그인 하세요</div>

        <a id="google" href="/auth/google"  type="button" class="btn btn-primary"> 구글 로그인 </a>
    </div>
    
</body>
    <script src="/bs/bootstrap/js/bootstrap.min.js"></script>
</html>