<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/bs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css">

    <title> Login site </title>
</head>
<body>
    <div class="container  mt-5" style="text-align: center;">
 
        <div class="h1" style="font-family: TTHakgyoansimMonggeulmonggeulR;"> 유튜브 구독 관리 서비스</div>
        <div class="mb-5" style="font-family: TTHakgyoansimMonggeulmonggeulR; "> 아래 버튼을 눌러 구글 계정으로 로그인 하세요.</div>

        <a id="google" href="/auth/google"  type="button" class="btn btn-primary " style="justify-content:center"> 구글 로그인 </a>
    </div>
    
</body>
    <script src="/bs/bootstrap/js/bootstrap.min.js"></script>
</html>