{% include "layout/header.html" %}


<script>
    function browse(channelName,channelId ,videoTitle,videoDate,videoId ){
        document.getElementById("channelName").value = channelName;
        document.getElementById("channelLink").href = "https://www.youtube.com/channel/"+channelId
        document.getElementById("recentVideoTitle").value = videoTitle;
        document.getElementById("publishedAt").value = videoDate;
        document.getElementById("sampleFrame").src = 'https://www.youtube.com/embed/'+videoId

    }

    function updateChannel(){
        fetch('/channel/save',{
            method: 'POST',
            headers: {
	    	    'Content-Type':'application/json;charset=utf-8'
	        },
        }).then((response)=>{
            
            let data = response.json()
            data.then(function(result){
                let resultJSON = JSON.parse(result);
                
                if (resultJSON['status'] == 200){
                    window.location.replace("/subs")
                }
            })

            window.location.replace("/subs")
        })
    }
</script>

<div class="container  min-vh-100 justify-content-center">    

    <!-- 현재 탭의 상단 옵션 버튼 -->
    <div class="d-flex justify-content-end flex-row">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" onclick="updateChannel()" title="현재 접속한 계정이 구독하고 있는 유튜브 채널을 최신으로 갱신합니다.">업데이트</button>
            <button type="button" class="btn btn-outline-primary" title="기타옵션">옵션</button>
          </div>
    </div>

    <!-- 실제 내용--> 
    <div class="d-flex flex-row">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary me-4" style="width: 380px; height: 700px; overflow: scroll; ">
            <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-5 fw-semibold"> 최근 활동 안한 채널 ({{channels.length}}) </span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">

            {% for channel in channels %}
            <a onclick="browse('{{channel.title}}','{{channel.channelId}}',`{{channel.videoTitle}}`, '{{channel.publishedAt}}','{{channel.videoId}}')" class="list-group-item list-group-item-action active py-3 lh-sm border rounded border-dark"  aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{channel.title}}</strong>
                    <small>{{channel.publishedAt}}</small>
                </div>
                <div class="col-10 mb-1 small">{{channel.description}}</div>
                
            </a>
            {% endfor %}
            
        
            
            </div>
        </div>

        <div class="d-flex flex-column">


            <div class="mb-4  row">
                <label for="channelName" class="col-sm-4 col-form-label">채널 이름 : </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="channelName">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="recentVideoTitle" class="col-sm-4 col-form-label">최신 영상 제목 : </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="recentVideoTitle">
                </div>
            </div>
            <div class="mb-4 row">
                <label for="publishedAt" class="col-sm-4 col-form-label">최신 영상 업로드 일자 : </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="publishedAt">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="inputPassword" class="col-sm-4 col-form-label"> 채널링크: </label>
                <div class="col-sm-8">
                    <a class="btn btn-primary form-control"  id="channelLink" target="_blank"> 채널 바로가기 </a>
                </div>
            </div>

            


            <iframe id="sampleFrame" class="m-3" width="560" height="315" src="https://www.youtube.com/embed/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            
        </div>


       
    </div>


</div>
    

{% include "layout/footer.html" %}