<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/bs/bootstrap/css/bootstrap.min.css">
    <title> TEST site</title>
</head>
<body>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link"> 잠수된 채널 감지</a></li>
            <li class="nav-item"><a href="/youtube/subscription" class="nav-link"> 유튜브 api 기능 확인</a></li>
            <li class="nav-item"><a href="#" class="nav-link disabled">비활성화2</a></li>
            <li class="nav-item"><a href="#" class="nav-link">로그아웃</a></li>
          </ul>
        </header>
      </div>